[Unit]
Description=Schedule Naz VK queue producer

[Timer]
OnCalendar=*-*-* 10:30:00 Europe/Moscow
OnCalendar=Tue,Thu,Sun *-*-* 16:30:00 Europe/Moscow
Persistent=true
AccuracySec=1min
Unit=naz-vk-producer.service

[Install]
WantedBy=timers.target
